<div mat-dialog-content>
  <div *ngIf="(isLoadingBook$ | async)" style="overflow: hidden;">
    <mat-spinner style="margin-left: auto; margin-right: auto"></mat-spinner>
  </div>
  <div *ngIf="!(isLoadingBook$ | async)">
    <form [formGroup]="bookFormGroup">
      <div class="book-section-container">
        <h2>Book Information</h2>
        <div class="book-field-container">
          <mat-form-field class="book-form-field">
            <input
              matInput
              placeholder="Title"
              type="text"
              formControlName="title"
            />
          </mat-form-field>
        </div>

        <div class="book-field-container">
          <mat-form-field class="book-form-field">
            <input matInput placeholder="Genre" type="text" formControlName="genre" />
          </mat-form-field>
        </div>

        <div class="book-field-container">
          <mat-form-field class="book-form-field">
            <input matInput placeholder="ISBN" type="text" formControlName="isbn" />
          </mat-form-field>
        </div>

        <div class="book-field-container">
          <mat-form-field class="book-form-field">
            <input matInput placeholder="Pages" type="number" formControlName="pages" />
          </mat-form-field>
        </div>
      </div>

      <div class="book-section-container">
        <h2>Publisher Information</h2>
        <form [formGroup]="publisherFormGroup">
          <div class="book-field-container">
            <mat-form-field class="book-form-field">
              <input matInput placeholder="Publisher Name" type="text" formControlName="name" />
            </mat-form-field>
          </div>

          <div class="book-field-container">
            <mat-form-field class="book-form-field">
              <input matInput placeholder="Contact Name" type="text" formControlName="contactName" />
            </mat-form-field>
          </div>

          <div class="book-field-container">
            <mat-form-field class="book-form-field">
              <input matInput placeholder="Contact Phone" type="text" formControlName="contactPhone" />
            </mat-form-field>
          </div>
        </form>
      </div>

      <div class="book-section-container">
        <h2>Authors</h2>
        <form
          *ngFor="let authorForm of authorsFormArray.controls"
          [formGroup]="authorForm"
          class="book-section-container"
        >
          <div class="book-field-container">
            <mat-form-field class="book-form-field">
              <input matInput placeholder="First Name" type="text" formControlName="firstName" />
            </mat-form-field>
          </div>

          <div class="book-field-container">
            <mat-form-field class="book-form-field">
              <input matInput placeholder="Middle Initial" type="text" formControlName="middleInitial" />
            </mat-form-field>
          </div>

          <div class="book-field-container">
            <mat-form-field class="book-form-field">
              <input matInput placeholder="Last Name" type="text" formControlName="lastName" />
            </mat-form-field>
          </div>
        </form>
      </div>
    </form>
  </div>
</div>
